<head>
    <title><%= settings.name %></title>
    <link rel="icon" type="image/png" href="<%= settings.logo.url %>">
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <% if (settings.music == true) { %>
      <!-- Music Player -->
      <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-9c8f4667-f5ce-46b9-99e2-f32095e11518" data-elfsight-app-lazy></div>
      <% } %>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        width: 30%;
        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s
    }
</style>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <% if (req.query.loggedin) { %>
    <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
        <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <p class="text-sm ml-24 leading-6 text-gray-900">
            You're on the admin area!</strong>
          </p>
        </div>
      </div>
    <% } %>
<div>
<!-- The Modal -->
<% if (req.query.news) { %>
<div id="myModal" class="modal">
        </div>
    </div>
</div>
<% } %>
    <%- include('components/admin_navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
      <main class="flex-1">
        <div class="py-6">
          <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Resources Manager</h2>
            <p class="text-md font-medium text-gray-600">Modify an user's resources by using his Discord ID.</p>
            &nbsp;
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="text-md font-medium text-gray-600">Add user's resources</h4>
                    &nbsp;
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="IDSet">Discord User ID</label>
                        <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="Enter user ID" id="IDSet">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="SetCPU">CPU</label><BR>
                        <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="80" id="SetCPU">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="SetRAM">RAM</label><BR>
                        <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="4096" id="SetRAM">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="SetDisk">Disk</label><BR>
                        <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="81920" id="SetDisk">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="SetServers">Servers</label><BR>
                        <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="3" id="SetServers">
                      </div>
                    </form>
                    <br>
                    <a role="button" class="transition delay-100 group relative  justify-center rounded-md border border-transparent bg-black-400 py-2 px-4 text-sm font-medium text-white hover:bg-gray-500 focus:outline-none" href="javascript: submitSet()">Apply Changes</a>
                  </div>
                  <br><br>
                  <div class="card-body">
                    <h4 class="text-md font-medium text-gray-600">Remove user's resources</h4>
                    &nbsp;
                    <form class="forms-sample">
                        <div class="form-group">
                            <label for="IDRemove">Discord User ID</label>
                            <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="Enter user ID" id="IDRemove">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="RemoveCPU">CPU</label><BR>
                            <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="80" id="RemoveCPU">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="RemoveRAM">RAM</label><BR>
                            <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="4096" id="RemoveRAM">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="RemoveDisk">Disk</label><BR>
                            <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="81920" id="RemoveDisk">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="RemoveServers">Servers</label><BR>
                            <input style="padding: 8px;" type="number" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="3" id="RemoveServers">
                        </div>
                    </form>
                    <br>
                    <a role="button" class="transition delay-100 group relative justify-center rounded-md border border-transparent bg-black-400 py-2 px-4 text-sm font-medium text-white hover:bg-gray-500 focus:outline-none" href="javascript: submitRemove()">Apply Changes</a>
                </div>
                </div>
              </div>
                </div>
              </div>
          </div></div>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/select2/select2.min.js"></script>
    <script src="/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
        async function submitPlan() {
            let id = encodeURIComponent(document.getElementById("IDPlan").value);
            let packagename = encodeURIComponent(document.getElementById("package").value);
            window.location.href = "/setplan?id=" + id + "&package=" + packagename
        }
        async function submitSet() {
            let id = encodeURIComponent(document.getElementById("IDSet").value);
            let cpu = encodeURIComponent(document.getElementById("SetCPU").value);
            let ram = encodeURIComponent(document.getElementById("SetRAM").value);
            let disk = encodeURIComponent(document.getElementById("SetDisk").value);
            let servers = encodeURIComponent(document.getElementById("SetServers").value);
            window.location.href = "/setresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
        async function submitAdd() {
            let id = encodeURIComponent(document.getElementById("IDAdd").value);
            let cpu = encodeURIComponent(document.getElementById("AddCPU").value);
            let ram = encodeURIComponent(document.getElementById("AddRAM").value);
            let disk = encodeURIComponent(document.getElementById("AddDisk").value);
            let servers = encodeURIComponent(document.getElementById("AddServers").value);
            
            window.location.href = "/addresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers
        }
        async function submitRemove() {
            let id = encodeURIComponent(document.getElementById("IDRemove").value);
            let cpu = encodeURIComponent(document.getElementById("RemoveCPU").value);
            let ram = encodeURIComponent(document.getElementById("RemoveRAM").value);
            let disk = encodeURIComponent(document.getElementById("RemoveDisk").value);
            let servers = encodeURIComponent(document.getElementById("RemoveServers").value);
            window.location.href = "/removeresources?id=" + id + "&cpu=" + cpu + "&ram=" + ram + "&disk=" + disk + "&servers=" + servers;
        }
    </script>
    <!-- Custom js for this page -->
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>