<head>
    <title><%= settings.name %></title>
    <link rel="icon" type="image/png" href="<%= settings.logo.url %>">
    <link rel="stylesheet" href="../assets/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        transition: 0.5s;
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 40px;
        width: 30%;
        border-radius: 16px;
        margin-top: 12%;
        transition: 0.5s
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.5s
    }
</style>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
    <% if (req.query.loggedin) { %>
    <div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
        <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
          <p class="text-sm ml-24 leading-6 text-gray-900">
            You're on the admin area!</strong>
          </p>
        </div>
      </div>
    <% } %>
<div>
<!-- The Modal -->
<% if (req.query.news) { %>
<div id="myModal" class="modal">
        </div>
    </div>
</div>
<% } %>
    <%- include('components/navigation') %>
    <div class="md:pl-48 flex flex-col flex-1">
      <main class="flex-1">
        <div class="py-6">
          <div class="max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8">

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
  <body>
    <div class="container-scroller">
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="main-panel">
           <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Coupons</h2>
           <p class="text-md font-medium text-gray-600">Redeem a coupon.</p>
           &nbsp;
						<% if (req.query.err) { %>
            <div style="border-radius: 15px;" class="alert">
							<% if (req.query.err == "MISSINGCOUPONCODE") { %>
                <div class="rounded-md bg-white shadow-md p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                      </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-gray-800">
                        You have not provided a coupon code.
                      </p>
                    </div>
                    </div>
                  </div>
							<% } else if (req.query.err == "INVALIDCOUPONCODE") { %>
                <div class="rounded-md bg-white shadow-md p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                      </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-gray-800">
                        Invalid coupon code. Was it claimed already?
                      </p>
                    </div>
                    </div>
                  </div>
								
							<% } else if (req.query.err == "SUCCESSCOUPONCODE") { %>
                <div class="rounded-md bg-white shadow-md p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                      </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-gray-800">
                        Success!
                      </p>
                    </div>
                    </div>
                  </div>
							<% } else { %>
                <div class="rounded-md bg-white shadow-md p-4 mb-8">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <!-- Heroicon name: solid/information-circle -->
                      <svg class="h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                      </svg>
                      </div>
                    <div class="ml-3 flex-1 md:flex md:justify-between">
                      <p class="text-sm text-gray-800">
                        Coupon failure.
                      </p>
                    </div>
                    </div>
                  </div>
							<% } %>
							</div>
						<% } %>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
									<form action="/coupon_redeem">
                      <label for="code">Coupon</label>
                      <br></br>
											<input style=" padding: 8px;" type="text" class="focus:border-gray-400 focus:ring-gray-400 transition ease-in-out delay-100 group relative border border-gray-300 flex w-1/4 justify-center form-control rounded-md" placeholder="Enter your coupon code here" name="code">
											<br></br>
                      <button class="transition delay-100 group relative  justify-center rounded-md border border-transparent bg-black-400 py-2 px-4 text-sm font-medium text-white hover:bg-gray-500 focus:outline-none">Redeem</button>
									</form>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../../assets/vendors/select2/select2.min.js"></script>
    <script src="../../assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script>
      async function submitNew() {
        let name = encodeURIComponent(document.getElementById("InputName").value);
        let egg = encodeURIComponent(document.getElementById("InputEgg").value);
        let ram = encodeURIComponent(document.getElementById("InputRAM").value);
        let disk = encodeURIComponent(document.getElementById("InputDisk").value);
        let cpu = encodeURIComponent(document.getElementById("InputCPU").value);
        let location = encodeURIComponent(document.getElementById("InputLoc").value);
        document.location.href = `/create?name=${name}&egg=${egg}&ram=${ram}&disk=${disk}&cpu=${cpu}&location=${location}`;
      };
    </script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/file-upload.js"></script>
    <script src="/assets/js/typeahead.js"></script>
    <script src="/assets/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>